@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
    background-color: #F6F6F6;

    .header {
        width: 100%;
        min-height: 122px;
        padding: 27px;
        background: #110825;

        .button {
            margin-left: 30px;

            &:first-child {
                margin: 0;
            }
        }
    }

    .users-container {
        .pagination-indicator-container {
            width: 50px;
            height: 428px;
        }
    }
}

/* Portrait phones and smaller */
@media (max-width: 1000px) {
    .App {
        .header {
            padding-left: 0;
            padding-right: 0;
            max-height: 440px;

            .button {

                &,
                &:first-child {
                    margin: 0 0 30px;
                }
            }
        }

        .users-container {
            .pagination-indicator-container {
                width: 0px;
                height: 428px;
            }
        }
    }
}

/* Portrait ipad */
@media (max-width: 1300px) {
    .App {
        .header {
            .button {

                &,
                &:first-child {
                    margin: 0 30px 30px;
                }
            }
        }
    }
}