.App {
    .header {
        width: 100%;
        min-height: 122px;
        padding: 27px;
        background: #110825;

        .button {
            margin-left: 30px;

            &:first-child {
                margin: 0;
            }
        }
    }
}

/* Portrait phones and smaller */
@media (max-width: 1000px) {
    .App {
        .header {
            padding-left: 0;
            padding-right: 0;
            max-height: 440px;

            .button {

                &,
                &:first-child {
                    margin: 0 0 30px;
                }
            }
        }
    }
}

/* Portrait ipad */
@media (max-width: 1300px) {
    .App {
        .header {
            .button {

                &,
                &:first-child {
                    margin: 0 30px 30px;
                }
            }
        }
    }
}